@charset "UTF-8";

@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css");
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css");

.ri-text {
	margin-bottom: 3em;
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 2em;
}

.ri-text h2 {
	margin-bottom: 14px;
	color: #01579B;
}

.category {
	color: black;
	text-align: center;
}

/* .navbar-form {
	position: relative;
	left: 63%;
	top: 200px;
}

.search-box{
	top: 210px;
} */
 

#btn_group button {
	position: relative;
	border: none;
	display: inline-block;
	padding: 15px 30px;
	border-radius: 15px;
	font-family: "paybooc-Light", sans-serif;
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
	box-sizing: border-box;
	border: 1px solid skyblue;
	padding: 5px;
	background-color: #6aafe6;
	color: #d4dfe6;
	border-radius: 10px;
}

 
