@charset "UTF-8";

.memberBody {
	box-sizing : border-box;
	line-height: 1.6;
}

/* .insertForm {
	text-align : center;
	font-family: dotum,sans-serif;
	font-size : 30px;
	color: #666;
} */

.memberForm {
	text-align : center;
	font-size : 16px;
}

.memberInputArea {
	margin : 50px auto;
	min-width: 290px;
    max-width: 500px;
    text-align : center;
	font-size : 16px;
}

.memberInputGroup {
    position: relative;
    overflow: hidden;
    width : 100%;
    display: block;
    padding : 10px;
    margin: 0;
}

.inputBox  {
    margin: 0;
    height: 48px;
    width : 100%;
    box-sizing: border-box;
    padding : 10px;
}

.memberInput {
	width: 100%;
    padding: 16px 0 12px;
    border: 0 none;
    background: none transparent;
    font-family: dotum,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #111;
    font-weight: 700;
    text-indent: 12px;
}

.menu-box {
	width : 500px;
	height : 50px;
	outline : 1px dotted red;
	text-aling:center;
	}

.menu-box > ul {
	list-style-type : none;
	display:inline-block;
	display:inline; 
	}

.menu-box > ul > li {
	float: left;
	width: 25%;
	height: 50px;
	line-height: 50px;
	text-align: center;

	}
	