<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.bcc.mapper.adminMapper">


	<select id="pmInfo" parameterType="hashMap" resultType="PreOrderVO">
		select * from premium_order
		where create_date between #{start} and #{end}
		order by id
	</select>
	
	<select id="onlyPeriodMems" parameterType="hashMap" resultType="PreOrderVO">
		select * from premium_order
		where periodic_pm = 'y' 
		and create_date between #{start} and #{end}
		order by id
	</select>
	
	<select id="trendChart" parameterType="hashMap" resultType="Integer">
		select count(*) from premium_order
		where day(create_date)=#{day} and month(create_date)=#{month}
	</select>
	
	<select id="monthlyChart" parameterType="hashMap" resultType="Integer">
		select count(*) from premium_order
		where year(create_date)=#{year} and month(create_date)=#{month}
	</select>
	
</mapper>  