<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bcc.mapper.BoardMapper">
	<!-- 전체 글 리스트 -->
	<select id="tourLists" resultType="BoardVO">
		<![CDATA[
		select * from tourist_spot
		where num < 115 and t_category = 0
		order by num asc
		]]>
	</select>
	<!-- 글 내용 -->
	<select id="getTour" resultType="BoardVO">
		select * from tourist_spot
		where num = #{num}

	</select>
	<!-- 조회수 -->
	<select id="updateBoardCnt" resultType="BoardVO"
		parameterType="int">
		update tourist_spot set totalCnt = totalCnt + 1
		where num = #{num}

	</select>
	<!-- 게시판 카테고리 분류 -->
	<select id="category" resultType="BoardVO"
		parameterType="String">
		select *
		from tourist_spot
		where addr = #{category}
		and
		t_category = 0;
	</select>
	
	<!-- 게시물 페이징 -->
	<select id="listPage" resultType="BoardVO">
 		<![CDATA[
 		select * from tourist_spot
 		where num < 115 and t_category = 0
 		order by num asc
 		limit 0, 10
 		]]>
	</select>

	<select id="listCri" resultType="BoardVO">
 		<![CDATA[
 		select * from tourist_spot
 		where 1=1 
 		]]>
		<include refid="search"></include>	
 			<![CDATA[
 		and num < 115 
 		order by num asc
 		limit #{pageStart}, #{perPageNum}
 		]]>
	</select>

	<!-- 게시물 검색 -->
	<select id="listCount" resultType="int">
	<![CDATA[
		select count(num)
		from tourist_spot where 1=1 
	]]>
		<include refid="search"></include>	
			<![CDATA[
		and num < 115
		 ]]>
	</select>


	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND (title LIKE '%', #{keyword} ,'%')</if>
			<if test="searchType == 'c'.toString()">AND addr_full LIKE '%' #{keyword} '%'</if>
			<if test="searchType == 'tc'.toString()">AND (title LIKE '%' #{keyword} '%')<!--  or (addr_full LIKE
				'%' #{keyword} '%') --></if>
		</if>
	</sql>

	
	<!-- 좋아요 -->
	<select id="checkThumb" parameterType="hashMap" resultType="Integer">
		select count(*) from thumb
		where b_num=#{b_num} and m_id=#{m_id}
	</select>
	
	<update id="addThumb">
		update tourist_spot set thumbCnt = thumbCnt+1 where num=#{num}
	</update>
	
	<update id="subThumb">
		update tourist_spot set thumbCnt = thumbCnt-1 where num=#{num}
	</update>
	
	<insert id="insertThumb" parameterType="hashMap">
		insert into thumb(b_num,b_category,m_id)
		values (#{b_num},#{b_category},#{m_id})
	</insert>
	
	<delete id="deleteThumb" parameterType="hashMap">
		delete from thumb
		where b_num=#{b_num} and m_id=#{m_id}
	</delete>
	
  	<select id="foodLists" resultType="BoardVO">
  		select * from tourist_spot
  		where addr=#{addr} and t_category=1
  	</select>
  	
  	<select id="getFood" resultType="BoardVO">
  		select * from tourist_spot
  		where title=#{title} and t_category=1
  	</select>

</mapper>