<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bcc.mapper.BoardMapper">

	<!-- 조회수 -->
	<select id="updateBoardCnt" resultType="BoardVO"
		parameterType="int">
		update tourist_spot set totalCnt = totalCnt + 1
		where num= #{num}; 

	</select>
	
	<!-- 페이징 처리된 게시물 -->
	<select id="listCri" resultType="BoardVO">
		select * from tourist_spot
		where t_category=#{t_category} 
		order by num asc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<!-- 페이징 처리된 게시물(주소 존재시) -->
	<select id="listCriAddr" resultType="BoardVO">
		select * from tourist_spot
		where t_category=#{t_category} and addr=#{addr}
		order by num asc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<!-- 글 목록 정렬 -->
 	<select id="listAlign" resultType="BoardVO">
		select * from tourist_spot
		where t_category=#{t_category}
		order by
		<choose>
	        <when test="searchType == 'totalCnt'">totalCnt desc</when>
	        <when test="searchType == 'thumbCnt'">thumbCnt desc</when>
	        <when test="searchType == 'commentCnt'">commentCnt desc</when>
    	</choose>
		limit #{pageStart}, #{perPageNum}
	</select> 
	
	<!-- 글 목록 정렬(주소 존재 시) -->
 	<select id="addrListAlign" resultType="BoardVO">
		select * from tourist_spot
		where t_category=#{t_category} and addr=#{addr} 
		order by
		<choose>
	        <when test="searchType == 'totalCnt'">totalCnt desc</when>
	        <when test="searchType == 'thumbCnt'">thumbCnt desc</when>
	        <when test="searchType == 'commentCnt'">commentCnt desc</when>
    	</choose>
		limit #{pageStart}, #{perPageNum}
	</select> 
	
	<!-- 게시물 검색 -->
	<select id="listCount" resultType="int">
		select count(num)
		from tourist_spot 
		where t_category=#{t_category}
	</select>
	
	<!-- 게시물 검색(주소 존재시) -->
	<select id="listCountAddr" resultType="int">
		select count(num)
		from tourist_spot 
		where t_category=#{t_category} and addr=#{addr}
	</select>


	<!-- 좋아요 -->
	<select id="checkThumb" parameterType="hashMap" resultType="Integer">
		select count(*) from thumb
		where b_num=#{b_num} and m_id=#{m_id}
	</select>
	
	<update id="addThumb">
		update tourist_spot set thumbCnt = thumbCnt+1 where num=#{num}
	</update>
	
	<update id="subThumb">
		update tourist_spot set thumbCnt = thumbCnt-1 where num=#{num}
	</update>
	
	<insert id="insertThumb" parameterType="hashMap">
		insert into thumb(b_num,b_category,m_id)
		values (#{b_num},#{b_category},#{m_id})
	</insert>
	
	<delete id="deleteThumb" parameterType="hashMap">
		delete from thumb
		where b_num=#{b_num} and m_id=#{m_id}
	</delete>
	<!-- 좋아요 -->
	
	
  	<!-- 글 내용 -->
	<select id="getTour" resultType="BoardVO">
		select * from tourist_spot
		where num = #{num}
	</select>
	
	
	<!-- 검색 결과 -->
	<select id="search" resultType="BoardVO">
		select * from tourist_spot
		where title like concat('%',#{keyword},'%')
	</select>
	
</mapper>