<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="memberMapper">

  	<insert id="putPay" parameterType="PreOrderVO">
		insert into premium_order
		values (#{id},systimestamp,systdate+30,sysdate+29,#{pm})
	</insert>
	
    <select id="getCountMember" resultType="int">
      select count(*) from bcc_member
    </select>
    
    <insert id="putInsertMember">
    	insert into bcc_member (id, pw, name, email, tel, zip, address1, address2, profile) 
    	values(#{id}, #{pw}, #{name}, #{email}, #{tel}, #{zip}, #{address1}, #{address2}, #{profile})    
    </insert>
    
    <select id="getLogin" resultType="MemberVO">
        select * from bcc_member 
        where id=#{id} and pw=#{pw}
    </select>
    
    <update id="modMember">
       update bcc_member 
       set email=#{email}, pw=#{pw}, tel=#{tel}
       where id=#{id}
    </update>
    
    <delete id="delMember">
      delete from bcc_member 
      where id=#{id} and pw=#{pw}
    </delete>
	
	<select id="delCheck" parameterType="String" resultType="int">
		select count(id and pw) 
		from bcc_member 
		where id = #{id} and pw = #{pw}
    </select>
    
	<insert id="putStorageMember" parameterType="MemberVO">
		insert into bcc_storage
		select * from bcc_member
        where id = #{id }
	</insert>
    
	<select id="getMember" resultType="com.bcc.domain.MemberVO">
		select * from bcc_member 
		where id = #{id}
	</select>
	
	<select id="getMemberList" resultType="MemberVO">
	  select * from bcc_member 
	  where id != #{id}	
	</select>
	
	<select id="getIdCheck" parameterType="String" resultType="int">
		select count(id) 
		from bcc_member 
		where id = #{id}
    </select>
    
	<select id="getSnsCheck" parameterType="String" resultType="int">
		select count(sns)
		from bcc_member 
		where id = #{id} and sns = "Y"
    </select>
    
    <select id="getEmailCheck" parameterType="String" resultType="int">
		select count(email) 
		from bcc_member 
		where email = #{email}
    </select>
    
	<select id="getTelCheck" parameterType="String" resultType="int">
		select count(tel) 
		from bcc_member 
		where tel = #{tel}
    </select>

	<update id="modLicenseUp">
		update bcc_member
		set license=1
		where id=#{id} 
	</update>
	
	<update id="modLicenseDown">
		update bcc_member
		set license=0
		where id=#{id} 
	</update>

    <select id="getThumbList" resultType="BoardVO">
        select title,thumbnail,num from tourist_spot 
        where num in (select b_num from thumb where m_id=#{keyword})
        limit #{pageStart}, #{perPageNum}
    </select>
    
    <delete id="delThumb" parameterType="hashMap">
        delete from thumb
        where b_num = #{b_num} and m_id=#{m_id}
    </delete>
    
    <select id="getThumbCount" resultType="Integer">
        select count(*)
        from thumb
        where m_id = #{id}
    </select>
    
    <!-- 카카오 로그인 -->
    <!-- 정보 찾기 -->
    <select id="getKakao" parameterType="java.util.HashMap" resultType="MemberVO">
        select * from bcc_member
        where name=#{name} and id=#{email}
    </select>
    
    <!-- 정보 저장 -->
    <insert id="putKakao" parameterType="java.util.HashMap">
        insert into bcc_member(name, id, sns, profile)
        values(#{name}, #{email}, "Y", #{profile})
    </insert>
    
    <!-- 카카오 로그인 -->
    
<!--     카카오 로그인 백업 -->
<!-- 	 	정보 찾기 -->
<!--     <select id="getKakao" parameterType="java.util.HashMap" resultType="KakaoVO"> -->
<!--         select * from kakao_table -->
<!--         where k_name=#{nickname} and k_email=#{email} -->
<!--     </select> -->
    
<!--     정보 저장 -->
<!--     <insert id="putKakao" parameterType="java.util.HashMap"> -->
<!--         insert into kakao_table(k_name, k_email) -->
<!--         values(#{nickname}, #{email}) -->
<!--     </insert> -->
<!--     카카오 로그인 백업 -->
    
    
<!--     네이버 로그인 -->
<!--     정보 찾기 -->
<!--     <select id="findNaver" parameterType="java.util.HashMap" resultType="NaverVO"> -->
<!--         select * from naver_table -->
<!--         where n_name=#{nickname} and n_email=#{email} -->
<!--     </select> -->
<!--     정보 저장 -->
<!--     <insert id="naverInsert" parameterType="java.util.HashMap"> -->
<!--         insert into naver_table(n_name, n_email) -->
<!--         values(#{nickname}, #{email}) -->
<!--     </insert> -->
<!--     네이버 로그인 -->
    
  </mapper>
  