<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bcc.mapper.preMapper">

 <insert id="putPreMember">
        insert into premium_member
        values(#{PCD_PAY_OID},#{PCD_PAYER_NAME},date_add(now(),interval 1 month),date_sub(date_add(now(),interval 1 month),interval 1 day))
    </insert>
    
    <insert id="putOrder">
        insert into premium_order
        values(#{PCD_PAY_OID},#{PCD_PAYER_NAME},now(),date_add(now(),interval 1 month),date_sub(date_add(now(),interval 1 month),interval 1 day),#{PCD_PAYER_ID})
    </insert>
    
    <update id="delKey">
       update premium_order
       set PCD_PAYER_ID = ''
       where PCD_PAYER_NAME=#{PCD_PAYER_NAME} 
    </update>
    
    <select id="getKey" parameterType="PreOrderVO" resultType="string">
       SELECT PCD_PAYER_ID 
       FROM premium_order
       where PCD_PAYER_NAME =#{PCD_PAYER_NAME}
    </select>
        
    <select id="getName" parameterType="MemberVO" resultType="string">
        select id from bcc_member
        where id=#{id}
    </select>
    
    <select id="getTel" parameterType="MemberVO" resultType="string">
        select tel from bcc_member
        where id=#{id}
    </select>
    
    <select id="getEmail" parameterType="MemberVO" resultType="string">
        select email from bcc_member
        where id=#{id}
    </select>

    <delete id="delPreMember">
        delete from premium_member
        where license_deadline = curdate()
    </delete>
    
   <update id="putReOrder">
        update premium_order
        set create_date = now(), license_deadline = date_add(now(),interval 1 month), next_order_date = date_sub(date_add(now(),interval 1 month),interval 1 day)
        where next_order_date = curdate()
    </update>
    
   <update id="putRePreMember">
        update premium_member
        set license_deadline = date_add(now(),interval 1 month), next_order_date = date_sub(date_add(now(),interval 1 month),interval 1 day)
        where next_order_date = curdate()
    </update>

</mapper>
  