<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
  
  <mapper namespace="com.bcc.mapper.RoomMapper">
  
  
  	<insert id="putPaymentRoom">
  		insert into acc_payment (accId,accKind,accName,accAmount,email,user_name,tel,zip,id,sort,roomSort,endTime,useTime,checkIn,checkOut,license)
  		values(#{accId},#{accKind},#{accName},#{accAmount},#{email},#{user_name},#{tel},#{zip},#{id},#{sort},#{roomSort},#{endTime},#{useTime},#{checkIn},#{checkOut},#{license})
  	</insert>
  
  
  <select id="getReInfo" resultType="roomPayVO">
  	select * from acc_payment where accId=#{accId}
  </select>
  
  <select id="getRoomReInfo" resultType="roomPayVO">
  	select * from acc_payment where id=#{id} order by accDate desc
  </select>
   
   <select id="getMaxReRoom" resultType="String">
  	select accId from acc_payment order by accDate desc limit 1
  </select>
  
   <update id="modReStatus">
  	update acc_payment set status="refund" where accId=#{accId}
  </update>
  
   <select id="getMaxRefund" resultType="String">
  	select rfId from acc_refund order by rf_date desc limit 1
  </select>

	<insert id="putRfRoom">
  		insert into acc_refund (rfId,accId,accAmount,accName,roomSort,sort,accKind,checkIn,checkOut,id,license)
  		values(#{rfId},#{accId},#{accAmount},#{accName},#{roomSort},#{sort},#{accKind},#{checkIn},#{checkOut},#{id},#{license})
  	</insert>
  	
	<select id="getReRoomInfoAdmin" resultType="roomPayVO">
  	select * from acc_payment
  	</select>
  
  </mapper>
  