<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
  
  <mapper namespace="com.bcc.mapper.RoomMapper">
  

  
  	<insert id="insertRoom">
  		insert into acc_payment (accId,accKind,accName,accAmount,email,user_name,tel,zip,id,sort,roomSort,endTime,useTime,checkIn,checkOut,license)
  		values(#{accId},#{accKind},#{accName},#{accAmount},#{email},#{user_name},#{tel},#{zip},#{id},#{sort},#{roomSort},#{endTime},#{useTime},#{checkIn},#{checkOut},#{license})
  	</insert>
  
  
  
  <select id="selectRoom" resultType="roomPayVO">
  	select * from acc_payment where accId=#{accId}
  </select>
  
  <select id="userPayList" resultType="roomPayVO">
  	select * from acc_payment where id=#{id} order by accDate desc
  </select>
   
   <select id="selectRoomId" resultType="String">
  	select accId from acc_payment order by accDate desc limit 1
  </select>
  
   <update id="payStatusRoom">
  	update acc_payment set status="refund" where accId=#{accId}
  </update>

	<insert id="RoomInRefund">
  		insert into acc_refund (accId,accAmount,accName,roomSort,sort,accKind,checkIn,checkOut,id,license)
  		values(#{accId},#{accAmount},#{accName},#{roomSort},#{sort},#{accKind},#{checkIn},#{checkOut},#{id},#{license})
  	</insert>

  
  </mapper>
  