<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.bcc.mapper.tourMapper">
  	<select id="restaurantLists" resultType="TourSpotVO">
  		select * from tourist_spot
  		where addr=#{addr} and t_category=1
  	</select>
  	
  	<select id="infoDetail" resultType="TourSpotVO">
  		select * from tourist_spot
  		where title=#{title} and t_category=1
  	</select>
  
  </mapper>