@charset "UTF-8";

	#toMain:hover {
		text-decoration: none !important;
	}
	
	#wrapper * {
		font-family: 'Noto Sans KR', sans-serif !important;
	}
	
	#resultCnt {
		font-size: 18px;
		font-weight: bold;
		margin-left: 1em;
	}
	
	.w-btn {
	    position: relative;
	    border: none;
	    display: inline-block;
	    padding: 10px 10px;
	    border-radius: 15px;
	    font-family: 'Noto Sans KR', sans-serif;
	    text-decoration: none;
	    font-weight: 500;
	    transition: 0.25s;
	    width: 130;
	    height: 30;
	    margin-right: 0.5em;
	    
	}
	
	.w-btn-indigo {
	    background-color: royalblue;
	    color: white;
	}
	
	.periodBtn {
		  -webkit-appearance: none;
		  -moz-appearance: none;
		  appearance: none;
		  
		  background: #fff;
		  color: black;
		  
		  margin: -0.2em;
		  padding: 0.2rem 1rem;
		  
		  font-family: 'Noto Sans KR', sans-serif;
		  font-size: 0.9rem;
		  font-weight: 400;
		  text-align: center;
		  text-decoration: none;
		  
		  display: inline-block;
		  width: auto;
		  
		  cursor: pointer;
		  
		  transition: 0.5s;
		  
		  border: 1px solid #858796;
	}


	.periodBtn:active,
	.periodBtn:hover,
	.periodBtn:focus {
	  background: #f0f0f5;
	  outline: 0;
	}
	
	#profitBtn {
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;
	  
	  background: #0d6efd;
	  color: #fff;
	  
	  margin: 0;
	  padding: 0.3rem 1.3rem;
	  
	  font-family: 'Noto Sans KR', sans-serif;
	  font-size: 0.9rem;
	  font-weight: 400;
	  text-align: center;
	  text-decoration: none;
	  
	  border: none;
	  border-radius: 4px;
	  
	  display: inline-block;
	  width: auto;
	  
	  cursor: pointer;
	  
	  transition: 0.5s;
	}


	#profitBtn:active,
	#profitBtn:hover,
	#profitBtn:focus {
	  background: #025ce2;
	  outline: 0;
	}
	#profitBtn:disabled {
	  opacity: 0.5;
	}
	
	.periodSpan {
		color: black;
		font-size: 1em;
		padding: 0 10px;
		display: inline-block;
		cursor: pointer;
	}
	
	.periodSpan a:hover {
		text-decoration: none;
	}
	
	.periodSpan a:after {
	    display:block;
   	    content: '';
   		border-bottom: solid 2px #025ce2;
   		transform: scaleX(0);/*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
   		transition: transform 250ms ease-in-out; /*변형 방식*/
	}
	
	.periodSpan a:hover:after {
	   transform: scaleX(1);
	}
	
	/* 차트 */
	.chartjs-render-monitor {
		display: block; 
		width: 100%; 
		height: 100%;
	}
	
	/* 카드 */
	#inc {
		color:red; 
		margin-left: 7px;
	}
	
	#dec {
		color:blue; 
		margin-left: 7px;
	}
	
	#sideTitle {
		cursor: pointer;
	}
	
	#formRadio {
		margin-bottom: 1em;
	}
	
	#ta {
		margin-bottom: 1em;
		border-radius: 1rem !important;
		resize: none;
	}
	
	
	#findWrapper {
		height: 40px;
		width: 400px;
		border: 1px solid #1b5ac2;
		background: #fff;
		margin: auto;
		margin-top: 80px;
	}
	
	#findWrapper input {
		font-size: 16px;
		width: 325px;
		padding: 10px;
		border: 0px;
		outline: none;
		float: left;
	}
	
	#findWrapper button {
		width: 50px;
		height: 100%;
		border: 0px;
		background: #1b5ac2;
		outline: none;
		float: right;
		color: #fff;
		cursor: pointer;
	}
	
	#noData {
		margin-top: 2em;
	}
	
	#resultTable {
	  border-collapse: separate;
	  border-spacing: 1px;
	  text-align: center;
	  line-height: 1.5;
	  margin: 2em auto;
	}
	
	#resultTable th {
	  width: 155px;
	  padding: 10px;
	  font-weight: bold;
	  vertical-align: top;
	  color: #fff;
	  background: #1b5ac2;
	}
	
	#resultTable td {
	  width: 155px;
	  padding: 10px;
	  vertical-align: top;
	  border-bottom: 1px solid #ccc;
	  background: #eee;
	}
	
	#resultTable td:nth-child(2), #resultTable td:nth-child(3) {
		cursor: pointer;
	}
	
	#resultTable td:nth-child(2):hover, #resultTable td:nth-child(3):hover {
		font-weight: bold;
	}
	
	#menu {
	  cursor: pointer;
	  z-index: 999;
	  position: absolute;
	  background-color: #4e73df;
	  width: 996px;
	  color: #fff;
	  border-radius: 1rem !important;
	  padding: 0.8em;
	  font-size: 15px;
	}
	
	#sideUl {
		width: 100%;
		height: 100%;
		display: none;
		margin-top: 5em;
	}
	
	#sideUl li {
		list-style: none;
		padding: 7px;
		color: black;
		font-size: 1.1em;
		cursor: pointer;
	}
	
	#sideUl li:hover {
		font-weight: bold;
	}
	
	#upload {
		margin-left: 3em;
		margin-bottom: 3em;
	}
	
	#remove {
		margin-left: 0.7em;
	}
