/* 그룹 초대받은 리스트 */
.invitation-list > .col-lg-8 {
	margin-bottom: 50px;
	border-bottom: 1px dotted #eee;
}
.invitation-list .acceptListCnt {
	display: inline-block;
    background-color: #ddd;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
}
.invitation-list .no-accept-list {
	color: #777;
}
.invitation-list .grp-accept-list {
	list-style: none;
}
.invitation-list .grp-accept-list li {
	display: flex;
	height: 40px;
	line-height: 40px;
	position: relative;
	border-bottom: 1px dotted #eee;
}
.invitation-list .grp-accept-list li:last-child {
	border-bottom: none;
}
.invitation-list .grp-accept-list li form {
	display: flex;
	position: absolute;
	right: 0;
}
.invitation-list .grp-accept-list li form .btn {
	width: 48px;
	height: 33px;
	margin: 0;
	font-size: 11px;
}
.invitation-list .grp-accept-list li form .btn:hover {
	transform: scale(1.05);
}
.invitation-list .grp-accept-list li form .btn.accept {
	background-color: #dfa974;
	margin-right: 5px;
	color: #fff;
}
.invitation-list .grp-accept-list li form .btn.refusal {
	color: #dfa974;
}


/* 플랜 추가 */
.room-booking form button.add-group {
	border: 2px solid #0288d1;
	color: #0288d1;
	margin-bottom: 50px;
}
/* 플랜 목록 */
.plan-list .plan {
	background-color: #0288d1;
	height: 50px;
	line-height: 50px;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 700;
	margin: 30px 0;
}
	
	

/* 구독권 구매 이동 링크 */
.buy-subscription:hover {
	color: #01579b;
}