@charset "UTF-8";

.hidden {
	display: none;
}


/* 그룹 메뉴 보여주기 버튼 */
.show-grp-menu {
}
.show-grp-menu .container {
	position: relative;
}
.show-grp-menu .show-grp {
	background-color: #fff;
	position: absolute;
	top: 30px;
	left: -30px;
	padding: 5px;
	box-shadow: 3px 3px 7px #aaa;
	border-radius: 50%;
	font-size: 20px;
	cursor: pointer;
}
.show-grp-menu .show-grp:hover {
	transform: scale(1.05);
}
/* 그룹 멤버 */
.grp-member {
	background-color: #0288d1;
}
.grp-member .member-container {
	display: flex;
	height: 100px;
	align-items: center;
	list-style: none;
}
.grp-member .member-container li {
	width: 80px;
	text-align: center;
}
.grp-member .member-container li .member--profile img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.grp-member .member-container li .member--id {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.grp-member .member-container li .member--name {
	font-size: 12px;
	color: #fff;
}
.grp-member .member-container li.menu span{
	color: #efefef;
}
.grp-member .member-container li.add-member span{
	font-size: 35px;
	color: #efefef;
	cursor: pointer;
}
.grp-member .member-container li.add-member span:hover {
	transform: scale(1.05);
}
/* 회원 검색 모달 */
.member-list {
	list-style: none;	
}
.member-list li form {
	display: flex;
	height: 38px;
	position: relative;
	padding-bottom: 5px;
	margin: 20px 0;
	border-bottom: 1px dotted #eee;
	
}
.member-list li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
.member-list .member--id {
	padding-right: 10px;
	width: 90px;
}
.member-list .member--name:before {
	content: "|";
	padding-right: 10px;
	color: #ddd;
}
.member-list .member--name {
}
.member-list button {
	position: absolute;
	right: 0;
}