@charset "UTF-8";

#thumbnail {
	 position: relative;
}

#thumbItem {
	overflow: hidden;
}

#thumbItem:hover #thumbX {display: inline-block;}

#thumbX {
  position: absolute;
  top: 5px;
  right: 19px;
  color: #fff;
  display: none;
  font-size: 23px;
  cursor: pointer;
}

#thumbA {
	color: black;
}

#thumbA:hover {
	color: #66b3ff;
}


	.info {
		margin-bottom: 3em;
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 2em;
		font-family: 'Noto Sans KR' !important;

	}
	
	.info h4 {
		width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	#favTitle {
		font-family: 'Noto Sans KR' !important;
	}