@charset "UTF-8";

#thumbnail {
	 position: relative;
}

#thumbItem:hover #thumbX {display: inline-block;}

#thumbX {
  position: absolute;
  top: 5px;
  right: 19px;
  color: #fff;
  display: none;
  font-size: 23px;
  cursor: pointer;
}

#thumbA {
	color: black;
}

#thumbA:hover {
	color: #66b3ff;
}